body {
	background-image: url(/sign-in-page/images/CRM-Main/backgroundboat.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
  }

  @media only screen and (max-width:800px) {
	/* For tablets: */
	.log-in-container  {
	  width: 80%;
	  padding: 0;
	}
	.left-side {
	  width: 100%;
	}
  }
  @media only screen and (max-width:500px) {
	/* For mobile phones: */
	.log-in-container, .left-side, .social-container {
	  width: 100%;
	}
  }

.container {
	position: relative;
	overflow: hidden;
	max-width: 100%;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	right: 0;
	width: 50%;
	z-index: 2;
	margin-left: 800px;
	margin-top: 50px;
}

.left-container{
	position: absolute;
	height: 100%;
	overflow: hidden;
	max-width: 100%;	
	margin-right: 260%;
}

.leftside {
	position: relative;
	left: 0;
	width: 100%;
	margin-right: 200px;
	margin-top: 50px;
}

.btn{
	margin-bottom: 100px;
	border-radius: 40px;
	border-color: white;
	color: white;
    border: 1px solid;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 45px;
	letter-spacing: 1px;
}

p{
	color: white;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

h1{
	margin-top: 50px;
	margin-bottom: 30px;
}

#username {
    border-radius: 25px;
	margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    height: 40px;
    padding-left: 50px;
    background-image: url(images/CRM-Main/Page-1.png);
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 15px;
}

#email{
	border-radius: 25px;
	margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    height: 40px;
    padding-left: 40px;
    background-image: url(images/CRM-Main/email-icon.png);
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 15px;
}

#password{
	border-radius: 25px;
	margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    height: 40px;
    padding-left: 40px;
    background-image: url(images/CRM-Main/lock.psswd.png);
    background-repeat: no-repeat;
    background-position: 20px 15px;
    background-size: 15px;
}

.btn-primary {
	border-radius: 40px;
    border: 1px solid;
	margin-bottom: 20px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 45px;
	letter-spacing: 1px;
}

#or-text{
	margin-bottom: 30px;
}

.log-in-container {
	background-color: #FFFFFF;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 50%;
	text-align: center;
}

.social{
	margin-right: 30px;
	margin-left: 10px;
	position: relative;
}

.fa-facebook{
	font-size: 20px;
	object-fit: contain;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 2px solid gray;
	padding: 2px;
}

.fa-twitter{
	font-size: 20px;
	object-fit: contain;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 2px solid gray;
	padding: 2px;
}

.fa-google{
	font-size: 20px;
	object-fit: contain;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 2px solid gray;
	padding: 3px;

}

.fa-linkedin-in{
	font-size: 20px;
	object-fit: contain;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	border: 2px solid gray;
	padding: 3px;
}

